.tickets-panels
  .panel.panel-danger
    .panel-heading
      UNASSIGNED
    .panel-body
      = render Ticket.unassigned

  .panel.panel-warning
    .panel-heading
      OPENED
    .panel-body
      = render Ticket.opened

  .panel.panel-info
    .panel-heading
      FROZEN
    .panel-body
      = render Ticket.frozen

  .panel.panel-success
    .panel-heading
      CLOSED
    .panel-body
      = render Ticket.closed

