@import bootstrap-sprockets
@import bootstrap
@import font-awesome
@import variables
@import tickets

body
  background: linear-gradient(#8FBC8F, #ADFF2F, #8FBC8F)

.fa.sign
  font-size: 40px
  float: right

.fa.sign.fa-sign-in
  color: green

.fa.sign.fa-sign-out
  color: red

.alert
  text-align: center
