@import bootstrap-sprockets
@import bootstrap
@import font-awesome
@import variables

.fa.sign
  font-size: 40px
  float: right

.fa.sign.fa-sign-in
  color: green

.fa.sign.fa-sign-out
  color: red

.flash
  text-align: center
  border-radius: 4px
  border-style: solid
  border-width: 1px
  padding: 5px

.error
  border-color: red
  background: $pink
  color: red

.notice
  border-color: green
  background: $light_green
  color: green
