.tickets-panels
  display: table
  height: 100%
  width: 100%
  border-spacing: 1px

  .panel
    display: table-cell

    .panel-body
      padding: 0

.ticket-entry
  background: $light_gray
  height: 40px
  padding: 5px
  border-bottom: 1px solid $darked_orange
  border-radius: 5px

  .ticket-table
    display: table
    width: 100%

    .fa
      font-size: 25px
      display: table-cell
      width: 25px
      color: black

    .fa-paperclip
      color: gray

    .department
      text-align: center
      display: table-cell
      width: 150px
      background: $gray
      color: $darked_orange
      border-radius: 8px

    .owner
      padding: 0
      display: table-cell
      width: 25px
      height: 30px
      list-style: none

    .subject
      text-align: center


